<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CDO DB PROD" value="OracleDb|Data Source= (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = scdb1p.nam.nsroot.net)(PORT = 1522))(CONNECT_DATA = (SID = CDOP6))); User Id =cdo; Password=enter1"/>
    <add key="APOLLO DB DEV" value="OracleDb|Data Source= (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = scdb1d.nam.nsroot.net)(PORT = 1523))(CONNECT_DATA = (SID = APLOD2))); User Id =gcd; Password=system11"/>
    <add key="SPEED DB UAT" value="SqlServer|Data Source= (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = scdb1d.nam.nsroot.net)(PORT = 1523))(CONNECT_DATA = (SID = APLOD2))); User Id =gcd; Password=system11"/>
    <add key="DBList" value="CDO DB PROD|APOLLO DB DEV|SPEED DB UAT"/>
  </appSettings>
</configuration>